.address {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;

    input {
        border: 0px;
        border-bottom: 1px solid gray;
        padding: 5px;
        min-width: 1px;
        width: 100%;

        &:focus {
            border-bottom: 2px solid #ef8c33;
        }
    }
}

.gap {
    margin-top: 20px;
}
.addComb,
.addCombot {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.btns {
    justify-content: flex-end;
}

.next {
    color: white;
    font-weight: 500;
    height: 35px;
    padding: 5px 10px;
    background-color: #ef8c33;
    border-radius: 7px;
    border: 0px none;
    cursor: pointer;
    min-width: 70px;
    align-self: flex-end;
    &:hover {
        box-shadow: 2px 2px 2px 2px #bbb;
    }
}

.back,
.cancel {
    background-image: linear-gradient(#ffffff, #d5d5d5);
    color: black;
    font-weight: 500;
    height: 35px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 7px;
    border: 1px solid gray;
    cursor: pointer;
    min-width: 70px;
    &:hover {
        box-shadow: 2px 2px 2px 2px #bbb;
    }
}

.note {
    color: #1f1f1f;
}

.shippong {
    font-size: 20px;
    font-weight: 500px;
}

@media only screen and (max-width: 576px) {
    .addComb {
        flex-direction: column;
        gap: 2em;
    }
}
