// .restCard {
//     width: 100%;
//     box-sizing: border-box;
// }

.mainPage_restaurent_inner_container {
    display: flex;
    width: 100%;
    height: 450px;
    padding: 20px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #e7e7e7;
    justify-items: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
        border: 1px solid #b7b7b7;
    }
}

.mainPage_restaurent_card_container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    font-size: 15px;
    color: #333;
}

.res_img_area {
    background-color: #eef0f5;
    height: 160px;
    width: 100%;
    // height: 230px;
    padding: 0px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.res_title {
    overflow: hidden;
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding: 0;
    margin: 15px 0 10px;
}
.res_title,
.res_cuisines,
.res_loc,
.res_timing {
    margin-bottom: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.rate-cost {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.res_rating_green,
.res_rating_red {
    width: 35px;
    display: block;
    text-align: center;
    padding: 5px;
}
.res_rating_green {
    background-color: #48c479;
}
.res_rating_red {
    background-color: #db7c38;
}

.resimgarea_load,
.resheadimgarea_load {
    background-color: #eef0f5;
    height: 160px;
    width: 100%;
    padding: 0px;
    flex-shrink: 0;
}

.restitle_load {
    height: 30px;
    background-color: #eef0f5;
    margin: 25px 0;
    width: 80%;
}

.restop_load {
    height: 20px;
    background-color: #eef0f5;
    margin: 10px 0;
    width: 65%;
}

.resmid_load {
    height: 20px;
    background-color: #eef0f5;
    margin: 10px 0;
    width: 45%;
}

.resBot_load {
    height: 20px;
    background-color: #eef0f5;
    margin: 30px 0;
    width: 80%;
}
