#loginContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  min-height: calc(100vh - 85px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

#loginContainer h1 {
  font-weight: bold;
  margin-bottom: 20px;
}

#loginContainer h2 {
  text-align: center;
}

#loginContainer p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

#loginContainer span {
  font-size: 12px;
}

#loginContainer button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 15px 0;
  -webkit-transition: -webkit-transform 80ms ease-in;
  transition: -webkit-transform 80ms ease-in;
  transition: transform 80ms ease-in;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
  cursor: pointer;
}

#loginContainer button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#loginContainer button:focus {
  outline: none;
}

#loginContainer form {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 50px;
  height: 100%;
  text-align: center;
  width: 70%;
  min-width: 350px;
  max-width: 480px;
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#loginContainer input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

#loginContainer .inneLoginContainer {
  border-radius: 10px;
  width: 100%;
  min-height: 480px;
  min-width: 350px;
  margin-top: 100px;
}

#loginContainer .form-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#loginContainer .google {
  border: 1px solid #ff4b2b;
  border-radius: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 5px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

#loginContainer .google:hover {
  background-color: wheat;
}

#loginContainer .forget,
#loginContainer .join {
  font-weight: 600;
  border-radius: 10px;
  color: #333;
  font-size: 17px;
  padding: 5px 10px;
  cursor: pointer;
}

#loginContainer .forget:hover,
#loginContainer .join:hover {
  background-color: lightblue;
}

#loginContainer .forget,
#loginContainer .transfer {
  margin: 5px 0;
}

#loginContainer .error {
  margin: 5px 0;
  background-color: red;
  color: white;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  padding: 5px 10px;
}

@media only screen and (max-width: 769px) {
  #loginContainer .inneLoginContainer {
    margin-top: 160px;
  }
  #loginContainer form {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
/*# sourceMappingURL=Login.css.map */