// background:white
// component-background:#f7f7f7
// light-border:#f1f1f1

// green-#009E7F
// orange:#F0801C

// txt:black
// un-imp-txt:#77798C

#main {
    width: 100%;

    #mainCover {
        font-size: 19px;
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;

        .coverImg {
            background-size: cover;
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            position: absolute;
            top: 0px;
            left: 0px;
            background-image: url("../../assets/imgs/restaurant-cover.png");
        }

        .coverContent {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 2;

            .coverTitle {
                font-family: Poppins, sans-serif;
                font-size: 45px;
                font-weight: 700;
                margin-bottom: 25px;
            }
            .coverDesc {
                margin-bottom: 60px;
            }
        }
    }

    #mid {
        height: 200px;
        background-color: blue;
        width: 100%;
    }
}
