#main {
    margin-top: 85px;
    display: flex;
    width: 100%;
    min-height: calc(100vh - 85px);
    box-sizing: border-box;
}

.mainPage_card_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 30px;
    width: calc(100% - 280px);
    padding: 30px 30px 50px;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

// .error {
//     padding: 10px;
//     background: white;
//     font-size: 20px;
//     font-weight: 500;
//     color: #777;
//     grid-column: 1 / 4;
//     height: max-content;
//     border-radius: 5px;

//     i {
//         color: #ff5555;
//         margin-right: 10px;
//     }
// }
.filterCollapse {
    position: fixed;
    left: 5px;
    margin-top: 10px;
    z-index: 2;
}

.filterCollapseBtn {
    display: none;
    width: 100px;
    padding: 0;
    text-align: center;
    height: 35px;
    border-radius: 4px;
    background-color: #ef8c33;
    color: white;
    border: 1px solid white;
    cursor: pointer;

    &:hover {
        box-shadow: 2px 2px 2px 2px #bbb;
    }
}

@media only screen and (max-width: 1201px) {
    .mainPage_card_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 991px) {
    .mainPage_card_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        padding: 30px 5px 50px;
    }

    .filterCollapseBtn {
        display: block;
    }
}

@media only screen and (max-width: 769px) {
    #main {
        margin-top: 130px;
    }
    .mainPage_card_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 576px) {
    .mainPage_card_container {
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px 30px 50px;
    }
}
