.header {
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 999;
  top: 0px;
  left: 0px;
  width: 100%;
  position: fixed;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .title {
  color: #ef8c33;
  font-size: 30px;
  font-weight: 600;
  height: 40px;
  width: 170px;
}

.header .title img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .headerMid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .hidden {
  display: none;
}

.header .headerBtns,
.header .headerBtnsSm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header .headerBtns a,
.header .headerBtnsSm a {
  text-decoration: none;
}

.header .headerBtns .headerLink,
.header .headerBtnsSm .headerLink {
  font-size: 18px;
  font-weight: 500;
  padding: 5px;
}

.header .headerBtns .headerLink:hover,
.header .headerBtnsSm .headerLink:hover {
  color: #ef8c33;
}

.header .headerBtns .signin,
.header .headerBtnsSm .signin {
  color: white;
  background-color: black;
  border-radius: 10px;
  height: 35px;
  border: 1px solid gray;
  font-weight: 500;
  padding: 5px 10px;
  font-size: large;
  cursor: pointer;
  display: block;
}

.header .headerBtns .signin:hover,
.header .headerBtnsSm .signin:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.header .headerBtns .user,
.header .headerBtns .cart,
.header .headerBtnsSm .user,
.header .headerBtnsSm .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  height: 35px;
  border: 1px solid gray;
  font-weight: 500;
  padding: 5px 10px;
  font-size: large;
  cursor: pointer;
}

.header .headerBtns .user:hover,
.header .headerBtns .cart:hover,
.header .headerBtnsSm .user:hover,
.header .headerBtnsSm .cart:hover {
  background-color: wheat;
}

.header .headerBtnsSm {
  display: none;
}

.myAccount {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  right: 30px;
  left: auto;
  position: absolute;
  top: 70%;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  -webkit-box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
          box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
  margin: 8px 0;
  padding: 4px 0;
}

.myAccount .userName {
  padding: 4px 8px 14px;
  border-bottom: 1px solid #e1e4e8;
  text-align: center;
  margin: 5px;
}

.myAccount .myAccountBtn,
.myAccount .signoutbtn {
  border: none;
  font-weight: 500;
  cursor: pointer;
  display: block;
  padding: 4px 8px;
  overflow: hidden;
  color: #24292e;
  text-overflow: ellipsis;
  text-align: center;
}

.myAccount .myAccountBtn:hover,
.myAccount .signoutbtn:hover {
  background-color: #ef8c33;
}

.home {
  position: absolute;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-animation: 0.3s ease 0s 1 normal none running daNCtO;
          animation: 0.3s ease 0s 1 normal none running daNCtO;
}

.headerDropdown {
  position: absolute;
  top: 70px;
  background-color: white;
  border-radius: 5px;
  left: 0;
  width: 200px;
  padding: 20px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.headerDropdownbtn {
  display: none;
  width: 50px;
  text-align: center;
  height: 30px;
  border-radius: 4px;
  background-color: #ef8c33;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.headerDropdownbtn:hover {
  -webkit-box-shadow: 2px 2px 2px 2px #bbb;
          box-shadow: 2px 2px 2px 2px #bbb;
}

.margBpt {
  border-bottom: 1px solid #e1e4e8;
}

.headTop {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.userInner {
  max-width: 90px;
  overflow: hidden;
}

@media only screen and (max-width: 990px) {
  .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 10px;
    gap: 1em;
  }
  .header .headerDropdownbtn {
    display: block;
    position: absolute;
    left: 30px;
    top: 25px;
  }
  .header .lg {
    display: none;
  }
  .cartInner,
  .userInner {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 30px;
  }
  .header .headerBtnsSm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .headerBtns {
    display: none;
  }
  .headTop {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .header {
    padding: 20px 20px;
  }
}
/*# sourceMappingURL=Header.css.map */