.header {
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 999;
  top: 0px;
  left: 0px;
  width: 100%;
  position: fixed;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .title {
  color: #ef8c33;
  font-size: 30px;
  font-weight: 600;
}

.header .headerMid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .hidden {
  display: none;
}

.header .headerBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header .headerBtns .headerLink {
  font-size: 18px;
  font-weight: 500;
  padding: 5px;
}

.header .headerBtns .headerLink:hover {
  color: #ef8c33;
}

.header .headerBtns .signin {
  border: none;
  color: white;
  border-radius: 3px;
  background-color: black;
  padding: 0.7em;
  font-weight: 500;
  cursor: pointer;
}

.header .headerBtns .signin:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.header .headerBtns .user {
  border-radius: 20px;
  height: 35px;
  border: 1px solid #ff4b2b;
  text-transform: uppercase;
  font-weight: 500;
  padding: 5px 10px;
  max-width: 114px;
  width: 50px;
  font-size: large;
  cursor: pointer;
}

.header .headerBtns .user:hover {
  background-color: wheat;
}

.myAccount {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  right: 30px;
  left: auto;
  position: absolute;
  top: 70%;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  -webkit-box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
          box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
  margin: 8px 0;
  padding: 4px 0;
}

.myAccount .userName {
  padding: 4px 8px 14px;
  border-bottom: 1px solid #e1e4e8;
  text-align: center;
  margin: 5px;
}

.myAccount .myAccountBtn,
.myAccount .signoutbtn {
  border: none;
  font-weight: 500;
  cursor: pointer;
  display: block;
  padding: 4px 8px;
  overflow: hidden;
  color: #24292e;
  text-overflow: ellipsis;
  text-align: center;
}

.myAccount .myAccountBtn:hover,
.myAccount .signoutbtn:hover {
  background-color: #ef8c33;
}

.home {
  position: absolute;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-animation: 0.3s ease 0s 1 normal none running daNCtO;
          animation: 0.3s ease 0s 1 normal none running daNCtO;
}
/*# sourceMappingURL=Header.css.map */