.filters {
    width: 280px;
    background-color: white;
    position: sticky;
    top: 85px;
    max-height: calc(-85px + 100vh);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
}

.sortFilterTitle,
.cuisineFilterTitle {
    font-size: 16px;
    font-weight: 600;
    color: rgb(13, 17, 54);
}

.sortFilterList,
.cuisineFilterList {
    padding-left: 30px;
    margin-bottom: 10px;
}

.filterItem {
    font-size: 15px;
    font-weight: 500;
    color: #0d1136;
    cursor: pointer;
    padding: 5px 0;
}

.active {
    color: #ef8c33;
}

.ftr {
    position: fixed;
    display: none;
    left: 3%;
    z-index: 2;
    width: max-content;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media only screen and (max-width: 991px) {
    .filters {
        display: none;
    }

    .ftr {
        display: block;
        margin-top: 55px;
    }
}

@media only screen and (max-width: 769px) {
    .ftr {
        margin-top: 100px;
    }
}
